body {
    /* background: rgb(96 165 250); */
    background: url(images/10.jpg);
    background-position: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    ::selection {
        color: yellow;
    }   
}

.container {
    /* justify-content: right; */
    margin: 25px 25px;
    border-radius: 10px;
    /* background: rgb(96 165 250); */
    display: flex;
    width: 950;
}

.left-container {
    /* justify-content: left; */
    margin: 25px 20px 10px 30px;
    width: 800px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgb(29, 27, 27, 0.5);
    overflow: hidden;


    /* Glass-Card Effect */
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.25);
}

.heading {
    margin: 15px 50px 15px 50px;
    position: absolute;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    height: 40%;

    h1 {
        position: absolute;
        text-align: center;
        color: rgb(3 105 161);
    }
}

.continue-btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 300px 80px 60px 80px;
    width: 80%;
    height: 45%;
    

    button {
        padding: 10px 13px 12px 13px;
        margin-bottom: 14px;
        border-radius: 10px;
        box-sizing: border-box;
        /* background: rgb(251 191 36); */
        cursor: pointer;
        font-size: 15px;
        text-transform: capitalize;
        box-shadow: 0px 0px 20px rgb(25, 25, 25, 0.8);
        border: none;


        a {
            text-decoration: none;
            color: black;
        }
    }
}

.form-container {
    margin: 25px 30px 10px 20px;
    padding: 12px 13px 12px 13px;
    border-radius: 10px;
    width: 500px;
    /* height: 550px; */
    background: rgb(24 24 27);
    box-shadow: 20px 20px 20px rgb(29, 27, 27, 0.5);
    overflow: hidden;
    opacity: 90%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



    /* Glass-Card Effect */
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.25);
}

.form-head {
    text-align: center; 
    color: rgb(3 105 161);
}

div input {
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    margin: 10px 20px 10px 20px;
    background: rgba(125, 125, 125, 0.8);
    color: rgb(255 251 235);
    width: 86%;
    font-size: 15px;
    
}

.names {
    width: 100%;
    display: flex;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    text-align: center;
}

label {
    margin-left: 22px; 
    color: rgba(255, 255, 255, 0.8); 
    font-size: 15px;
}

.form-btn {
    cursor:pointer;
    width: 85%;
    height: 45px;
    border-radius: 10px;    
    margin: 40px 30px 20px 30px;
    padding: 10px;
    border: none;

    box-shadow: 0px 0px 20px rgb(25, 25, 25, 0.8);
    text-decoration: none;
}

button:hover {
    background: rgb(59 130 246);
    color: orange;
    font-size: 16px;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    text-align: center;

    a {
        background: rgb(59 130 246);
        color: orange;
        font-size: 1.1rem;
        text-transform: capitalize;
    }
}

footer {
    text-align: center;
    color: rgb(214 211 209);
}

@media screen and (max-width: 400px) {

    .container {
        margin: -10px 20px 20px -10px;
        height: 665px;
    }

    .heading {
        margin: 20px;
    }

    .continue-btn{
        margin-left: 18px;
        padding-left: -10px;
    }

    .form-container {
        margin: 20px 10px 20px 10px;
        width: 350px;
        height: 610px
    }

    .form-head {
        margin: 10px -2px 10px -4px;
        text-align: center;
    }

    div input {
        margin: 5px -5px;
    }

    .names {
        display: block;
        width: 90%;
        margin: -1px 3px;
    }

    label {
        text-align: center;
        margin: -1px;
    }

    .form-btn {
      width: 80%;
      margin: 10px 20px -20px 7px;
    }

    footer {
        margin: 4px;
    }
}

/* Handling responsiveness for the signup page */
@media screen {
    
}